body{
    background-image:url(./assets/images/connection.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
 
   }
   